.title {
  font-family: "Manrope", sans-serif;
  color: #100557;
}
.pic {
  background-image: url("./assets/images/back.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic2 {
  background-image: url("./assets/images/group.jpeg");
  background-color: #cccccc;
  height: 900px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic3 {
  margin: 1.5rem;
  max-width: 100%;
  height: auto;
}

/* new */
.center {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 50%;
  max-width: 400px;
}
@media (min-width: 800px) {
  .pic3 {
    max-width: 50%;
  }
}
@media (max-width: 1000px) {
  .pic2 {
    height: 400px;
  }
}
/* .about {
  background-color: #689fbd;
} */
footer {
  background-color: #100557;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* hover effect if you want */
.fa:hover {
  color: #689fbd;
}
.follow {
  padding: 10px;
}
